Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  cert-*,
  concurrency-*,
  modernize-*,
  performance-*,
  portability-*,
  -google-*,
  -readability-readability-google-*,
  -readability-implicit-bool-conversion,
  -bugprone-easily-swappable-parameters,
  -modernize-use-trailing-return-type,
  -readability-identifier-length,
  -readability-identifier-naming,
  -readability-magic-numbers,
  -readability-comment-internal-link,
  -llvm-include-order,
  -clang-diagnostic-header-hygiene,
  -clang-diagnostic-nonportable-include-path,
  -clang-diagnostic-quoted-include-in-framework-header,
  -clang-diagnostic-include-angled-in-module-map
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: file
