---
Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  cert-*,
  concurrency-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -modernize-use-trailing-return-type,
  -readability-identifier-length,
  -readability-identifier-naming,
  -readability-magic-numbers
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: file
