spawn-at-startup "quickshell"
spawn-at-startup "awww-daemon"
spawn-sh-at-startup "awww img ~/dots/wallpapers/2k.jpg"
spawn-sh-at-startup "awww img -o \"HDMI-A-1\" ~/dots/wallpapers/fullhd.jpg"
spawn-sh-at-startup "python ~/tg-ws-proxy/linux.py"
