layout {
    gaps 5
    
    center-focused-column "never"
    always-center-single-column

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
	    proportion 1.0
    }

    default-column-width { 
        proportion 0.5; 
    }

    focus-ring {
        off
        width 2
        active-color "cba6f7ff"
        inactive-color "#505050"
    }

    border {
        width 3
        active-color "cba6f7ff"
        inactive-color "#505050"
        urgent-color "#9b0000"
    }

    shadow {
        softness 30
        spread 5

        offset x=0 y=5

        color "#0007"
    }
}
