
window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
}

window-rule {
    geometry-corner-radius 8
    clip-to-geometry true
}

window-rule {
    match app-id="^foot(client)?$"
    match app-id="^Alacritty$"
    match app-id="kitty"
    opacity 0.90
    background-effect {
        blur true
    }
    default-window-height { proportion 1.1; }
}

window-rule {
    draw-border-with-background false
}


window-rule {
    match app-id=r#"YandexMusic$"#
    open-on-output "HDMI-A-2"
}

window-rule {
    match app-id=r#"^org\.telegram\.desktop$"#
    default-column-width { proportion 1.0; }
    default-window-height { proportion 0.5; }
    open-on-output "HDMI-A-1"
    open-maximized false
    open-focused false
    default-column-display "normal"
}

window-rule {
    match app-id=r#"^org\.telegram\.desktop$"#
    match title="Media viewer"
    default-column-width { proportion 1.0; }
    default-window-height { proportion 0.5; }
    open-on-output "HDMI-A-1"
    open-maximized false
    open-focused true
    default-column-display "normal"
}


window-rule {
    match app-id=r#"^vesktop$"#
    default-column-width { proportion 1.0; }
    default-window-height { proportion 0.5; }
    open-on-output "HDMI-A-1"
    open-maximized false
    open-focused false
    default-column-display "normal"
}

window-rule {
    match is-window-cast-target=true

    focus-ring {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }

    border {
        inactive-color "#7d0d2d"
    }

    shadow {
        color "#7d0d2d70"
    }

    tab-indicator {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }
}

window-rule {
    match title="quickshell-calendar"
    open-floating true
    default-column-width { fixed 220; }
    default-window-height { fixed 250; }
}

window-rule {
    match title="quickshell-tray-popup"
    open-floating true
    default-column-width { fixed 180; }
    default-window-height {}
}
